<% content_for :content_header do %>
	<h2>Links</h2>
	<% if role_present?( "author" ) %>
		<%= link_to 'Add Link', new_link_path %>
	<% end %>	
<% end %>

<ul>
	<% @links.each do |link| %>
	<li class="link">
		<div class="url">
			<%= link_title( link ) %>
		</div>
		<div class="description">
			<%= link.description %>
			<% if role_present?( "author" ) %>
				<span>
					<%= link_to 'Show', link %>&nbsp;|&nbsp;
					<%= link_to 'Edit', edit_link_path(link) %>&nbsp;|&nbsp;
					<%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <p>
                        <strong>Roles:</strong><em><%= link.roles.map(&:name).join(', ')%></em>
                    </p>
                    
				</span>
			<% end %>
		</div>
	</li>
	<% end %>
</ul>
<br/>