<article>
	<h2 id="album-title"><%= @album.title %></h2>
	<h3><%= @album.description %></h3>
	<p id="album-author">
	  Originally posted by <%= @album.author.name %> on <%= @album.created_at.to_date.inspect %>
	</p>
	<% if @album.photos.any? %>
		<p id="album-stats">
		  Last photo uploaded on <%= @album.last_updated_photo.updated_at.to_date.inspect %><br/>
		  <%= @album.photos.size %> total photos.
		</p>
	<% end %>
	
	<div class="row small-up-3 medium-up-5">
		<% @album.photos.each do |photo| %>
			<div class="column">
				<div class="photo">
					<%= link_to image_tag(photo.content.url(:medium), alt: photo.title, title: photo.title), photo, remote: true %>
				</div>
			</div>
		<% end %>
	</div>
	<% if role_present?( :admin ) %>
		<%= link_to 'Add photos', new_photo_path( :album_id => @album.id )%> |
		<%= link_to 'Edit', edit_album_path(@album) %> |
		<%= link_to 'Delete', @album, method: :delete, data: { confirm: 'Are you sure?' } %> |
		<%= link_to 'Back', albums_path %>
        <p>
            <strong>Roles:</strong><em><%= @album.roles.map(&:name).join(', ')%></em>
        </p>
        
	<% end %>	
</article>
