<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MJB Blog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	<div class="header row">
		<div class="small-1 columns">
			&nbsp;
		</div>
		<div class="small-10 columns">
			<div class="title row">
				<div class="small-3 columns" style="padding-top: 5px; padding-bottom: 5px;">
					<%= banner_logo %>
				</div>
				<div class="small-6 columns">
					<h1><%= link_to "My blog", root_path %></h1>
				</div>
				<div class="small-3 columns">
					<div class="login">
						<% if current_user %>
							Logged in as <em><%= current_user.name %></em><br/>
							<%= link_to "Log Out", session_path("current"), method: :delete %>
						<% else %>
							&nbsp;<br/>
							<%= link_to "Login", login_path %>
						<% end %>
					</div>
				</div>				
			</div>
			<div class="menu row">
				<div class="menu_item small-3 columns">
					<%= link_to "Articles", articles_path %>
				</div>
				<div class="menu_item small-3 columns">
					<%= link_to "Albums", albums_path %>
				</div>
				<div class="menu_item small-3 columns">
					<%= link_to "Links", links_path %>
				</div>
				<div class="menu_item small-3 columns">
					<%= link_to "About", about_me_path %>
				</div>
			</div>
		</div>
		<div class="small-1 columns">
			&nbsp;
		</div>
	</div>
	<main role="main">
		<div class="row">
			<div class="small-1 columns">
				&nbsp;
			</div>
			<div class="small-10 columns main">
				<div class="row">
					<div class="small-12 columns">
						<div class="content_header">
						    <%= yield :content_header %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns">
						&nbsp;
					</div>
					<div class="small-6 columns">
						<div class="messages">
							<%= render 'layouts/messages' %>
							<% if flash.empty? %>
							&nbsp;
							<% end %>
						</div>
					</div>
					<div class="small-3 columns">
						&nbsp;
					</div>
				</div>
				<div class="content row">
				    <%= yield %>
				</div>
			</div>
			<div class="small-1 columns">
				&nbsp;
			</div>
		</div>
	</main>
	<div class="row">
		<div class="small-1 columns">
			&nbsp;
		</div>
		<div class="small-10 columns footer">
			&copy; <%= Date.today.year %>. All rights reserved.
		</div>
		<div class="small-1 columns">
			&nbsp;
		</div>
	</div>
  </body>
</html>
